Backup/
Release/
Test/
DB/000/
DB/001/
DB/002/
DB/003/
DB/004/
DB/005/
DB/006/
DB/007/
DB/008/
DB/009/
DB/010/
DB/011/
DB/012/
DB/013/
DB/014/
DB/BU/
Recanalyst/
UpdateMD5Hashs.ahk
Funcs.ahk
.vscode/settings.json
Hotkeys/
Lib/
Records/
AoE II Manager AIO Ex.ahk
AoE II Manager AIO.ahk
FHashsums.ini
config.ini